@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
  height: 100%;
}

#app {
  font-family: 'Muli', sans-serif;
  background: linear-gradient(to top, #330867 0%, #081d58 100%);
  // background: linear-gradient(to top, #081d58 0%, #330867 100%);
  height: inherit;
  overflow-x: scroll;
}

h1, h2, h3, h4, p {
  color: #fff;
}

.intro-text {
  margin-bottom: 20px;
}

.main-button {
  color: white;
  padding: 15px 30px !important;
  font-size: 18px;
  background-color: #000;
  border-radius: 7px;
  border-width: 0px !important;
  &:hover {
    color: white;
  }
}

/*D3 heatMap*/

rect.bordered {
  stroke:  #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #fff;
}

text.axis-workweek {
  fill: #fff;
  margin-right: 10px;
  font-weight: 900;
}

text.axis-worktime {
  fill: #fff;
  font-weight: 900;
}

.trips-number {
  color: #fff;
}

#profile-picture {
  width: 120px;
  border: 3px solid cornflowerblue;
  border-radius: 100px;
  padding: 5px;
  margin-bottom: 10px;
}

nav {
  background: rgba(256,256,256,0.08) !important;
  border-width: 0px !important;
  box-shadow: 0px 0px !important;
  a {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}

#welcome-content {
  margin-top: 150px;
}

#footer {
  margin-top: 50px;
  a {
    color: #fff;
  }
}

.emphasize {
  border-bottom: 1px solid #fff;
}
